  <!-- Header -->
<header class="homeHeader">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Has this car been involved in an accident?</div>
            <form method="get" action="/loading" id="submitPlate">
                <div class="intro-heading">
                    <input type="text" name="plate" placeholder="XXX 000" class="plateInput" maxlength="10" id="plateInput" />
                </div>
                <div class="intro-terms">
                    By checking this number plate, you are agreeing to our <a href="#">terms and conditions</a>
                </div>
                <input type="submit" class="page-scroll btn btn-xl btn-responsive" value="Check now" />
            </form>
        </div>
    </div>
</header>
<!-- Services Section -->
<section id="facts" class="reducedPadding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Facts</h2>
                <h3 class="section-subheading text-muted">These are some facts to make the buyer more interested</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Did you know?</h4>
                <p class="text-muted">That I just wasted some of your time by reading this useless fact?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">5/5 cars have engines.</h4>
                <p class="text-muted">Amazing! Nowadays, cars are coming equipped with engines straight from the factory!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Money</h4>
                <p class="text-muted">Give us all your money. We want it.</p>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/js/validation/validation.js"></script>
}

