 <!-- Services Section -->
<section id="whatsnext">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Great news!</h2>
                <h3 class="section-subheading low-margin text-muted">We have prepared a report for the following license plate.</h3>
                <div class="readonly-plate">
                    <input type="text" name="plate" readonly="readonly" class="plateInput" maxlength="10" id="plate" />
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">What's next?</h4>
                <p class="text-muted">You can now proceed and purchase a detailed report.</p>
                <a href="#buynow" class="page-scroll btn btn-xl btn-responsive">Buy now</a>
            </div>
        </div>
    </div>
</section>

<section id="buynow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Choose a package</h2>
                <h3 class="section-subheading low-margin text-muted">You can choose the package that suits your needs.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Basic Report</h4>
                <p class="text-muted">This report contains information on whether this car has been involved in an accident or not</p>
                <p class="text-muted"><a href="#">View a sample</a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Intermediate Report</h4>
                <p class="text-muted">This report contains information on whether this car has been involved in an accident or not, plus mileage covered by this car</p>
                <p class="text-muted"><a href="#">View a sample</a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Full Report</h4>
                <p class="text-muted">This report contains information on whether this car has been involved in an accident or not, plus mileage covered by this car plus some more text as to show that this is the report to buy</p>
                <p class="text-muted"><a href="#">View a sample</a>
            </div>
        </div>
    </div>
</section>

<section id="facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <h3 class="section-subheading low-margin text-muted">These are the the most asked questions asked by our previous buyers</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">What will my report include?</h4>
                <p class="text-muted">The report will provide you with information such as its accident history?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Is this worth my money?</h4>
                <p class="text-muted">&euro;10 can buy you an average pizza &amp; drink, a cheap shirt, or peace of mind that your next car is accident free. Do we need to say more?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Is this data confidential?</h4>
                <p class="text-muted">The report only contains details on its history, owner details are not revealed.</p>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/js/interaction/plate.js"></script>
    <script src="/js/interaction/results.js"></script>
}
